[user]
	name = deltakroneker
	email = nikola.milic.ios@gmail.com
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	df = diff
	dfs = diff --staged
	logg = log --graph --decorate --oneline --abbrev-commit --all
	lg = logg
    sl = shortlog
	bla = branch -la
	f = fetch
